@font-face {
  font-family: 'WeblySleek UI Semibold';
  src: url('../fonts/weblysleekuisb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Weblysleek UI Semilight';
  src: url('../fonts/weblysleekuisl.ttf');
}

@font-face {
  font-family: 'Weblysleek UI Light';
  src: url('../fonts/weblysleekuil.ttf') format('truetype');
}

@mixin gradient ($place, $st-color, $end-color) {
  background: -webkit-linear-gradient($place, $st-color, $end-color);
  background: -moz-linear-gradient($place, $st-color, $end-color);
  background: -ms-linear-gradient($place, $st-color, $end-color);
}

