$color-dark-grey: #2f2f2f;
$color-light-black-for-modal-window: #373737;
$color-black-for-modal-buttons: #3b3b3b;
$color-black: #000000;
$color-gray: #999999;
$color-light-gray: #d3d3d3;
$color-light-gray-for-modal-window: #eeeeee;
$color-gray-for-modal-window: #333333;
$color-border-for-modal-window: #979797;
$color-light-blue: #bbd9fc;
$color-blue: #88afdc;
$color-dark-blue: #2a4c73;
$color-text: #fff;
$color-gray-blue: #9aa4af;
$color-rose: #e38686;;
$font-size: 12px;
$font-family-basic: 'WeblySleek UI Semibold';
$font-family-basic-light: 'Weblysleek UI Semilight';
$height-header: 48px;

$image-path: '../images';