@import "_vars";
@import "_fonts";

/* clear the default browser styles */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote
{
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

ul {
  margin-left: 1.4em;
  list-style: square;
}

button, input {
  margin: 0;
  padding: 0;
}

body{
  margin: auto 0;
  min-width: 760px;
}

header {
  background: $color-grey url("../images/logo_top_menu.svg") no-repeat 3% 45%;
  height: $height-header;
  width: 100%;
  padding-right: 48px;
  padding-left: 40px;
  p {
    font-size: $font-size;
    color: $color-text;
  }
}
.menu-items {
  display: block;
  float: right;
  li{
    float: left;
    display: block;
    height: 100%;
    a {
      display: block;
      text-decoration: none;
      color: $color-text;
      margin: 0 23px;
      padding-left: 40px;
      line-height: 48px;
      background: left center no-repeat;
      font-family: $font-family-basic;
      font-size: $font-size;
      height: 100%;
      cursor: pointer;
    }
  }
}
.files a:first-child {
  padding-left: 50px;
}

.owner a:last-child{
  padding-left: 53px;
}

.menu-items li:hover, li.active {
  background-color: $color-black;
}

.menu-items li.files a {
  background-image: url("../images/LUC_users_light_1.png");
}

.menu-items li.share a {
  background-image: url("../images/LUC_users_light_2.png");
}

.menu-items li.news a {
  background-image: url("../images/LUC_users_light_3.png");
}

.menu-items li.participants a {
  background-image: url("../images/LUC_users_light_4.png");
}

.menu-items li.owner a {
  background-image: url("../images/LUC_users_light-7.png");
}

nav {
  height: $height-header+16px;
  width: 100%;
  padding-left: 72px;
  padding-right: 72px;
  background-color: $color-blue;
  div {
    float: left;
    p {
      text-transform: uppercase;
      font-family: $font-family-basic;
      font-size: $font-size+4px;
      color: $color-text;
      line-height: 62px;
    }
  }
}
.participants {
  float: right;

  li {
    float: left;
    list-style: none;
    height: 100%;
    a {
      text-transform: capitalize;
      text-decoration: none;
      color: $color-dark-blue;
      font-family: $font-family-basic;
      font-size: $font-size+2.7px;
      cursor: pointer;
      padding: 10px 10px 5px 10px;
      margin-left: 5px;
      border-bottom: 2px solid $color-dark-blue;
      height: 100%;
      line-height: 64px;
    }
  }

  a:hover, a.active-link {
    color: $color-text;
    border-bottom-color: $color-text;
  }
}

.container-buttons {
  margin: 25px 80px 0 72px;

  button.invite-users {
    display: block;
    float: left;
    padding: 7px 24px;
    font-size: 14px;
    font-family: 'WeblySleek UI Semibold';
    color: #5d5d5d;
    outline: none;
  }
  div.small-buttons {
    display: block;
    float: right;
    button {
      display: block;
      float: left;
      outline: none;
      width: 40px;
      height: 30px;
      margin-right: 10px;
    }
     button.btn-delete {
        background: url("../images/delete-button.png") $color-rose center center no-repeat;
       border: 1px solid $color-rose;
      }
      button.btn-block {
        background: url("../images/LUC_users_light_5.png") $color-light-gray center center no-repeat;
        border: 1px solid $color-light-gray;
      }
    }

}